@use "global" as *;

.c-meta {
  display: flex;
  align-items: center;
}
.c-meta__date {
  font-size: rem(16);
  letter-spacing: 0.025em;
}

.c-meta__category {
  font-size: rem(16);
  letter-spacing: 0.125em;
  padding: rem(8) rem(20);
  border: 1px solid $white;
  margin-left: rem(30);
  display: inline-block;
}
