@use 'global' as *;

.single-header {
  font-size: rem(20);
  font-weight: $medium;
  line-height: calc(35 / 20);
  @include mq(md) {
    font-size: rem(23);
    line-height: calc(35 / 23);
  }
}
.single-header__info {
  margin-top: rem(32);
}
.single-header__date {
  margin-right: rem(24);
}
.single-header__category {
  letter-spacing: 0.002em;
  text-align: center;
  border: 1px solid $white;
  padding: rem(8) rem(20);
  @include mq(md) {

  }

}