@use "global" as *;

.c-map {
  width: 100vw;
  position: relative;
  margin: 0 calc(50% - 50vw);
  overflow: hidden;
  padding-top: 125%;

  @include mq("md") {
    width: 100%;
    margin: 0;
    padding-top: 33.3636%;
  }
}

.c-map iframe {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  object-fit: cover;
  height: 210%;
}
