<div class="p-contactarea">
    <div class="l-inner">
        <div class="p-contactarea__title">
            <%- include('../component/_c-section-title') %>
        </div>
        <p class="p-contactarea__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
        <div class="p-contactarea__btn">
            <%- include('../component/_c-btn',{link:'/contact.html/',text:'お問い合わせへ'}) %>
        </div>
    </div>
</div>