<div class="p-card">
    <div class="p-card__img">
        <img src="<%= src %>" alt="">
    </div>
    <div class="p-card__contents">
        <h3 class="p-card__title">
            <%= title %>
        </h3>

        <p class="p-card__text">
            <%= text %>
        </p>
        <div class="p-card__meta">
            <p class="p-card__category"><a href="" class="">カテゴリ</a></p>
            <p class="p-card__text">
                2021.07.20
            </p>
        </div>
    </div>
</div>