<div class="p-cards">
    <% for (var i=0; i < 4; i++) { %>
        <%- include('../common/_p-card',{src:'./images/top/blog__img01.jpeg',title:'タイトルが入ります。タイトルが入ります。タイトルが入ります。',text:'説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。'})
            %>
            <% } %>

</div>