<div class="p-footer">
  <div class="p-footer__contents">
    <div class="p-footer__logo">
      <img src="images/common/footer__logo.png" alt="">
    </div>
    <%- include('../component/_c-nav') %>
  </div>
  <small class="p-footer__copyright">
    &copy; 2021 CodeUps Inc.
  </small>

</div>