<dl class="p-news">
    <div class="p-news__row">
        <dt class="p-news__meta">
            <p class="p-news__date">2020.07.20</p>
            <p class="p-news__category">お知らせ</p>
        </dt>
        <dd class="p-news__title">
            記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
        </dd>
    </div>
    <div class="p-news__row">
        <dt class="p-news__meta">
            <p class="p-news__date">2020.07.20</p>
            <p class="p-news__category">お知らせ</p>
        </dt>
        <dd class="p-news__title">
            記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
        </dd>
    </div>
    <div class="p-news__row">
        <dt class="p-news__meta">
            <p class="p-news__date">2020.07.20</p>
            <p class="p-news__category">お知らせ</p>
        </dt>
        <dd class="p-news__title">
            記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。 記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
            記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。 記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
            記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
        </dd>
    </div>
    <div class="p-news__row">
        <dt class="p-news__meta">
            <p class="p-news__date">2020.07.20</p>
            <p class="p-news__category">お知らせ</p>
        </dt>
        <dd class="p-news__title">
            記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
        </dd>
    </div>
</dl>