<div class="p-top-slider swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="" alt="">
    </div>
    <div class="swiper-slide">
      <img src="" alt="">
    </div>
    <div class="swiper-slide">
      <img src="" alt="">
    </div>
    <div class="swiper-pagination"></div>

  </div>
</div>