<div class="p-workscontent">
    <div class="p-workscontent__box">
        <h3 class="p-workscontent__title">
            制作のポイント
        </h3>
        <p class="p-workscontent__text">
            <%= seisakutext %>
        </p>
    </div>
    <div class="p-workscontent__box">
        <h3 class="p-workscontent__title">
            デザインのポイント
        </h3>
        <p class="p-workscontent__text">
            <%= designtext %>
        </p>
    </div>
    <div class="p-workscontent__box">
        <h3 class="p-workscontent__title">
            その他
        </h3>
        <p class="p-workscontent__text">
            <%= othertext %>
        </p>
    </div>
</div>