<div class="p-workscard">
    <a href="single-works.html">
        <div class="p-workscard__img">
            <img src="<%= worksList.src %>" alt="">
        </div>
        <div class="p-workscard__category">
            <%= worksList.category %>
        </div>
        <div class="p-workscard__title">
            <%= worksList.title %>
        </div>
    </a>
</div>