<div class="p-workscard">
    <div class="p-workscard__img">
        <img src="<%= src %>" alt="">
    </div>
    <div class="p-workscard__category">
        <%= category %>
    </div>
    <div class="p-workscard__title">
        <%= title %>
    </div>
</div>