<div class="p-workscard">
    <div class="p-workscard__img">
        <img src="./images/works/works__img01.jpeg" alt="">
    </div>
    <div class="p-workscard__category">
        カテゴリ
    </div>
    <div class="p-workscard__title">
        CodeUps株式会社
    </div>
</div>