@use "global" as *;

.p-cards {
  display: flex;
  flex-wrap: wrap;
}

.p-cards--3 {
  grid-gap: rem(24) rem(24);
  @include mq("md") {
    grid-gap: rem(48) 2.3%;
  }
}

.p-cards--4 {
  grid-gap: rem(24) 0;
  @include mq("md") {
    grid-gap: rem(48) 2.9%;
  }
}
.p-cards__card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.p-cards__card--3 {
  @include mq("md") {
    width: 31.8%;
  }
}

.p-cards__card--4 {
  @include mq("md") {
    width: 22.8%;
  }
}

.p-cards:first-child {
  position: relative;
}
.p-cards:first-child:before {
  content: "NEW";
  letter-spacing: rem(2);
  font-size: rem(16);
  color: $black;
  background-color: $orange;
  width: rem(60);
  height: rem(60);
  border-radius: 50%;
  line-height: rem(60);
  text-align: center;
  position: absolute;
  top: rem(-15);
  left: rem(-15);
  z-index: 5;
}
