@use "global" as *;

.p-cards {
  display: flex;
  flex-wrap: wrap;
}

.p-cards--3 {
  grid-gap: rem(24) rem(24);
  @include mq("md") {
    grid-gap: rem(48) 2.3%;
  }
}

.p-cards--4 {
  grid-gap: rem(24) 0;
  @include mq("md") {
    grid-gap: rem(48) 2.9%;
  }
}
.p-cards__card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.p-cards__card--3 {
  @include mq("md") {
    width: 31.8%;
  }
}

.p-cards__card--4 {
  @include mq("md") {
    width: 22.8%;
  }
}
