@use "global" as *;

.p-relatedcontents__cards {
  width: 100%;
  margin-top: rem(32);
  @include mq("md") {
    margin-top: rem(80);
    display: flex;
    flex-wrap: wrap;
    grid-gap: rem(32);
  }
}

.p-relatedcontents__card {
  @include mq("md") {
    width: rem(251);
  }
}
