@use "global" as *;

.p-single-blog {
  overflow: hidden;
  @include mq(md) {
    max-width: rem(800);
    margin: 0 auto;
  }
}

.p-single-blog h1 {
  font-size: rem(20);
  font-weight: $regular;
  @include mq(md)  {
    font-size: rem(23);
  }
}

.p-single-blog__meta {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(32);
  }
}

.p-single-blog__img {
  width: 100vw;
  margin: rem(16) calc(50% - 50vw) 0;
  @include mq(md) {
    margin-top: rem(32);
    width: 100%;
    margin-left: initial;
    margin-right: initial;
  }
}

.p-single-blog p {
  margin-top: rem(24);
  line-height: 2.19;
  @include mq(md) {
    margin-top: rem(32);
  }
}

.p-single-blog h2 {
  font-size: rem(20);
  font-weight: $regular;
  position: relative;
  margin-top: rem(24);
  padding-left: .5em;
  @include mq(md) {
    margin-top: rem(32);
  }
}

.p-single-blog h2::before {
  content: "";
  background-color: $white;
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  @include mq(md) {
    
  }
}

.p-single-blog h3 {
  font-weight: $regular;
  margin-top: rem(24);
  list-style: initial;
  position: relative;
  display: inline-block;
  border-bottom: solid .125em $white;
  @include mq(md) {
    margin-top: rem(32);
  }
}

.p-single-blog h3::after {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  bottom: -.125em ;
  border-bottom: .125em solid $yellow-bg;
  width: 4em;
  height: 100%;
}

.p-single-blog ul {
  line-height: 2.19;
  margin-top: rem(24);
  list-style: initial;
  list-style-position: inside;
  padding-left: rem(10);
  @include mq(md) {
    margin-top: rem(32);
  }
}

.p-single-blog ol {
  line-height: 2.19;
  padding-left: rem(10);
  list-style: none;
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(32);
  }
}

.p-single-blog__pagenation {
  margin-top: rem(80);
  @include mq(md) {
    margin-top: rem(104);
  }
}