@use 'global' as *;

.p-sub-content {
  margin-top: rem(80);
  margin-bottom: rem(120);
  @include mq(md) {
    margin-top: rem(150);
    margin-bottom: rem(150);
  }
}

.p-sub-content__introduction {
  margin-top: rem(85);
  @include mq(md) {
    max-width: rem(568);
    margin: rem(70) auto 0;
  }
}

.p-sub-content__introduction-title {
  font-size: rem(20);
  text-align: center;
  @include mq(md) {
    font-size: rem(25);
  }
}

.p-sub-content__introduction-text {
  margin-top: rem(24);
}

.p-sub-content__item:not(:first-of-type) {
  margin-top: rem(48);
  @include mq(md) {
    margin-top: rem(104);
  }
}

.p-sub-content__item:nth-of-type(2n) .c-text-with-img {
  @include mq(md) {
    flex-direction: row-reverse;
  }
}
.p-sub-content__item:nth-of-type(2n) .c-text-with-img__img {
  @include mq(md) {
    margin-left: 1.875rem;
    margin-right: 0;
  }
}