@use "global" as *;

.p-top-slider {
  width: 100%;
  position: relative;
  margin-bottom: 100px;
  @include mq(md) {
    width: 50.6%;
    max-width: rem(557);
  }
}
.p-top-slider .swiper-pagination {
  position: absolute;
  bottom: -27px;
}
.p-top-slider .swiper-pagination-bullet {
  background-color: $gray;
}
.p-top-slider .swiper-pagination-bullet-active{
  background-color: $yellow;
}