@use "global" as *;

.p-top-overview__content {
  margin-top: rem(48);
  @include mq(md) {
    background: linear-gradient(90deg, $black3 0%,  $black3 68%, transparent 68%, transparent 100%);
  }
}

.p-top-overview__content .l-inner {
  @include mq(md) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

.p-top-overview__img {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  position: relative;
  @include mq(md) {
    width: 50.6%;
    min-width: rem(557);
    margin-left: rem(32);
    margin-right: 0;
  }
}

.p-top-overview__img::before {
  content: "";
  display: block;
  padding-top: 69.839%;
}

.p-top-overview__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.p-top-overview__text-box {
  padding: rem(20);
  background-color: $black3;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  @include mq(md) {
    padding-top: rem(120);
    padding-bottom: rem(120);
    margin: 0;
    background-color: initial;
  }
}
.p-top-overview__title {
  font-size: rem(20);
  font-weight: $regular;
  text-align: center;
  margin-top: rem(24);
}
.p-top-overview__text {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(48);
  }
}
.p-top-overview__btn {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(48);
  }
}

.p-top-overview__btn .c-btn {
  margin: 0 auto;
  @include mq(md) {
    margin-left: 0;
  }
}