@use 'global' as *;

.p-top-content {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.p-top-content__content {
  margin-top: rem(40);
  height: rem(168);
  @include mq(md) {
    height: rem(320);
  }
}
.p-top-content__item {
  display: inline-block;
  width: 49%;
  // height: rem(168);
  position: relative;
  transition: .5s;
  @include mq(md) {
    width: 24%;
    // height: rem(320);
  }
}
.p-top-content__item:hover.p-top-content__item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .6);
}
.p-top-content__img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.p-top-content__img img {
  height: 100%;
  object-fit: cover;
}
.p-top-content__text {
  font-size: rem(20);
  letter-spacing: .002em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  @include mq(md) {
    font-size: rem(25);
  }
}
.p-top-content__title {
  margin: 0 auto;
  @include mq(md) {
    margin: initial;
  }
}