@use "global" as *;
@use "sass:math";

.p-topcontainer {
  position: relative;
}

.p-topcontainer__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: $black3;
  @include mq("md") {
    width: math.div(896, 1280) * 100vw;
    margin-left: auto;
    margin-right: 0;
  }
}

.p-topcontainer--rev .p-topcontainer__bg {
  @include mq("md") {
    margin-right: auto;
    margin-left: 0;
  }
}

.p-topcontainer__inner {
  position: relative;
  z-index: 2;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  @include mq("md") {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
  }
}

.p-topcontainer--rev .p-topcontainer__inner {
  @include mq("md") {
    display: flex;
    flex-direction: row-reverse;
  }
}

.p-topcontainer__img {
  width: 100%;
  position: relative;
  @include mq("md") {
    width: rem(557);
  }
}

.p-topcontainer__img::before {
  content: "";
  display: block;
  padding-top: 69.84%;
}
.p-topcontainer__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.p-topcontainer__contents {
  padding: rem(24) rem(20) rem(20);
  @include mq("md") {
    width: rem(510);
    padding: rem(120) 0;
    margin-left: rem(32);
  }
}

.p-topcontainer--rev .p-topcontainer__contents {
  @include mq("md") {
    margin-left: 0;
    margin-right: rem(32);
  }
}

.p-topcontainer__title {
  font-size: rem(20);
  letter-spacing: 0.1em;
  text-align: center;
  @include mq("md") {
    font-size: rem(25);
    letter-spacing: 0.02em;
    text-align: left;
  }
}

.p-topcontainer__text {
  font-size: rem(16);
  margin-top: rem(24);
  letter-spacing: 0.125em;
  @include mq("md") {
    margin-top: rem(48);
    letter-spacing: 0.03em;
  }
}

.p-topcontainer__btn {
  width: 100%;
  margin-top: rem(16);
  @include mq("md") {
    margin: rem(48) auto 0 0;
  }
}
