@use "global" as *;

.p-top-blog__section-title {
}
.p-top-blog__content {
  margin-top: rem(54);
  @include mq(md) {
    margin-top: rem(48);
  }
}
.p-top-blog__btn {
  margin: rem(24) auto rem(120);
  @include mq(md) {
    margin: rem(48) auto rem(150);
  }
}

.p-top-blog__btn .c-btn {
  margin: 0 auto;
}

.p-top-blog .p-cards:first-child {
  position: relative;
}
.p-top-blog .p-cards:first-child:before {
  content: "NEW";
  letter-spacing: rem(2);
  font-size: rem(16);
  color: $black;
  background-color: $orange;
  width: rem(60);
  height: rem(60);
  border-radius: 50%;
  line-height: rem(60);
  text-align: center;
  position: absolute;
  top: rem(-15);
  left: rem(-15);
  z-index: 5;
}
