@use "global" as *;

.p-top-news-list {
  @include mq(md) {
    display: flex;
  }
}
.p-top-news-list__content {
  @include mq(md) {
    display: flex;
  }
}
.p-top-news-list__btn {
  margin-top: rem(25);
  @include mq(md) {
    margin-top: 0;
  }
}

.p-top-news-list__btn .c-btn {
  margin: 0 auto;
  @include mq(md) {
    margin-left: 0;
  }
}