@use "global" as *;

.rietest {
  background-color: $black;
  color: $white;
}

.rietest h3 {
  padding: rem(60) 0 rem(20);
}
.rietest__slider {
  max-width: rem(800);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
