<div class="p-404">
    <div class="l-inner">
        <p class="p-404__title">404 Not Found</p>
        <p class="p-404__text">お探しのページは<br class="u-mobile">見つかりませんでした。</p>
        <div class="p-404__button">
            <%- include('../component/_c-btn',{link:"./index.html", text:"TOPへ"}) %>
        </div>
    </div>
</div>