<!--ブログの内容は以下の書き方で呼び出し元のファイルに書く。（＃は削除してください！）-->

<%# const blogLists=[{src:'./images/works/works__img01.jpeg', title:'CodeUps株式会社',
    text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
    category:'カテゴリ1',date:'2022/02/11'},{src:'./images/works/works__img02.jpeg', title:'CodeUps2株式会社',
    text:'2テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
    category:'カテゴリ2',date:'2022/02/12'},{src:'images/works/works__img03.jpeg', title:'CodeUps3株式会社',
    text:'3テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
    category:'カテゴリ3',date:'2022/02/13'},{src:'images/works/works__img04.jpeg', title:'CodeUps4株式会社',
    text:'4テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。', category:'カテゴリ4',date:'2022/02/14'}]%>

    <!--呼び出し時の書き方,columnは、3カラムか４カラムか。（＃は削除してください！）-->
    <%#- include('./project/_p-cards', {blogLists, column:'4'}) %>






        <div class="p-cards">
            <% blogLists.forEach(function(blogList){ %>
                <div class="p-cards__card p-cards__card--<%= column %>">
                    <%- include('../project/_p-card', {blogList,column}) %>
                </div>
                <% }); %>
        </div>