<div class="p-footer">
  <div class="p-footer__contents">
    <a href="./index.html" class="p-footer__logo">
      <img src="images/common/footer__logo.png" alt="codeupsのロゴ">
    </a>
    <%- include('../component/_c-nav') %>
  </div>
  <small class="p-footer__copyright">
    &copy; 2021 CodeUps Inc.
  </small>
</div>

<%- include('../component/_c-page-top-btn') %>