<div class="p-form">
  <form action="/thanks.html" method="post">
    <dl class="p-form__list">
      <dt class="p-form__title"><label for="group">※会社名・団体名</label></dt>
      <dd class="p-form__data"><input type="text" name="group" id="group" placeholder="テキストがはいります" required></dd>
    </dl>
    <dl class="p-form__list">
      <dt class="p-form__title"><label for="department">※部署名</label></dt>
      <dd class="p-form__data"><input type="text" name="department" id="department" placeholder="テキストがはいります" required></dd>
    </dl>
    <dl class="p-form__list">
      <dt class="p-form__title"><label for="name">※お名前</label></dt>
      <dd class="p-form__data"><input type="text" name="name" id="name" placeholder="テキストがはいります" required></dd>
    </dl>
    <dl class="p-form__list">
      <dt class="p-form__title"><label for="name-kana">※ふりがな</label></dt>
      <dd class="p-form__data"><input type="text" name="name-kana" id="name-kana" placeholder="テキストがはいります" required></dd>
    </dl>
    <dl class="p-form__list">
      <dt class="p-form__title"><label for="contact">※お問い合わせ内容</label></dt>
      <dd class="p-form__data"><textarea name="contact" id="contact" placeholder="テキストがはいります" required></textarea></dd>
    </dl>
    <dl class="p-form__list">
      <dt class="p-form__title"></dt>
      <dd class="p-form__data">
        <button class="p-form__btn" type="submit">送信</button>
      </dd>
    </dl>
    
  </form>
</div>