<header class="p-header">
  <div class="p-header-contents">
    <a href="/" class="p-header__logo">
      <img src="./images/common/logo.png" alt="">
    </a>
    <%- include('../component/_c-header-nav') -%>
    <%- include('../component/_c-burger-btn') -%>
  </div>
</header>
<%- include('../project/_p-modal') -%>
