<div class="p-mainview">
    <!-- スライダーのメインコンテナの div 要素（必須） -->
    <div class="p-mainview__slider swiper">
        <!-- スライドを囲む div 要素（必須） -->
        <div class="swiper-wrapper">
            <!-- それぞれのスライドの div 要素（必須） -->
            <div class="swiper-slide">
                <div class="slide-img"><img src="images/top/mainview__img01.jpg" alt="メインビュー画像"></div>
            </div>
            <div class="swiper-slide">
                <div class="slide-img"><img src="images/top/mainview__img02.jpg" alt="メインビュー画像">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide-img"><img src="images/top/mainview__img03.jpg" alt="メインビュー画像"></div>
            </div>
        </div>
    </div>
    <div class="p-mainview__contents">
        <h1 class="p-mainview__title">
            メインタイトルが入ります
        </h1>
        <p class="p-mainview__subtitle">
            サブタイトルが入ります
        </p>
    </div>
</div>