<div class="p-relatedcontents">
    <div class="l-inner">
        <div class="p-relatedcontents__title">
            <%- include('../component/_c-relatedtitle') %>
        </div>
        <div>
            <div class="p-relatedcontents__cards">
                <!-- データリスト -->
                <% const blogLists=[{src:'../images/works/works__img01.jpeg', title:'CodeUps株式会社',
                    text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
                    category:'カテゴリ1',date:'2022/02/11'},{src:'../images/works/works__img02.jpeg', title:'CodeUps2株式会社',
                    text:'2テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
                    category:'カテゴリ2',date:'2022/02/12'},{src:'images/works/works__img03.jpeg', title:'CodeUps3株式会社',
                    text:'3テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
                    category:'カテゴリ3',date:'2022/02/13'},{src:'images/works/works__img04.jpeg', title:'CodeUps4株式会社',
                    text:'4テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
                    category:'カテゴリ4',date:'2022/02/14'}]%>

                    <%- include('../project/_p-cards', {blogLists, column:'4'}) %>
            </div>
        </div>
    </div>
</div>