<div class="p-relatedcontents">
    <div class="l-inner">
        <div class="p-relatedcontents__title">
            <%- include('../component/_c-relatedtitle') %>
        </div>
        <div>
            <div class="p-relatedcontents__cards">
                <!-- データリスト -->
                <%- include('../project/_p-cards', {blogLists, column:'4'}) %>
            </div>
        </div>
    </div>
</div>