<div class="p-sub-content">
  <div class="l-inner">
    <div class="p-sub-content__introduction">
      <h2 class="p-sub-content__introduction-title">企業理念</h2>
      <p class="p-sub-content__introduction-text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
    </div>
    <div id="content01" class="p-sub-content__item">
      <%- include('./component/_c-text-with-img',{src:"../images/content/content01.jpg",textWithImgTitle: "企業理念1", textWithImgText: "テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。"}) %>
    </div>
    <div id="content02" class="p-sub-content__item">
      <%- include('./component/_c-text-with-img',{src:"../images/content/content02.jpg",textWithImgTitle: "企業理念2", textWithImgText: "テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。"}) %>
    </div>
    <div id="content03" class="p-sub-content__item">
      <%- include('./component/_c-text-with-img',{src:"../images/content/content03.jpg",textWithImgTitle: "企業理念3", textWithImgText: "テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。"}) %>
    </div> 
  </div>
</div>