<div class="p-single-blog">
  <div class="l-inner">
    <div class="p-single-blog__contents">
      <h1 class="p-single-blog__h1">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h1>
      <div class="p-single-blog__meta">
        <%- include('../component/_c-meta',{date:'2020/06/13',category:'カテゴリ1'}) %>
      </div>
      <div class="p-single-blog__img">
        <img src="./../images/single-blog/single-blog_eyecatch.jpg" alt="">
      </div>
      <p class="p-single-blog__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
      <h2 class="p-single-blog__h2">見出し２</h2>
      <p class="p-single-blog__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
      <h3 class="p-single-blog__h3">見出し３見出し３見出し３見出し３</h3>
      <p class="p-single-blog__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
      <div class="p-single-blog__img">
        <img src="./../images/single-blog/single-blog_img01.jpg" alt="">
      </div>
      <ul class="p-single-blog__list">
        <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
        <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
        <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
        <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
      </ul>
      <ol class="p-single-blog__list p-single-blog__list--decimal">
        <li>1　リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
        <li>2　リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
        <li>3　リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
        <li>4　リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
      </ol>
      <section class="p-single-blog__pagenation">
        <div class="l-inner">
          <%- include('../component/_c-pagenation02') %>
        </div>
      </section>
    </div>
  </div>
</div>