<div class="p-sub-content l-inner">
  <div class="l-inner">
    <div class="p-sub-content__introduction">
      <h2 class="p-sub-content__introduction-title">企業理念</h2>
      <p class="p-sub-content__introduction-text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
    </div>
    <div class="p-sub-content__item">
      <%- include('../component/_c-text-with-img') %>
    </div>
    <div class="p-sub-content__item">
      <%- include('../component/_c-text-with-img') %>
    </div>
    <div class="p-sub-content__item">
      <%- include('../component/_c-text-with-img') %>
    </div> 
  </div>
</div>