<div class="p-sub-blog">
  <div class="l-inner">
    <div class="p-sub-blog__content">
      <% const blogLists=[{src:'./images/top/top-blog01.jpg',
        title:'タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。', text:'説明文が入ります。説明文が入ります。説明文が入ります。',
        category:'カテゴリ',date:'2022/02/11'},{src:'./images/top/top-blog02.jpg', title:'タイトルが入ります。タイトルが入ります。',
        text:'説明文が入ります。説明文が入ります。説明文が入ります。', category:'カテゴリ',date:'2022/02/13'},{src:'./images/top/top-blog03.jpg',
        title:'タイトルが入ります。タイトルが入ります。', text:'説明文が入ります。説明文が入ります。説明文が入ります。',
        category:'カテゴリ',date:'2022/02/13'},{src:'./images/top/top-blog03.jpg', title:'タイトルが入ります。タイトルが入ります。',
        text:'説明文が入ります。説明文が入ります。説明文が入ります。', category:'カテゴリ',date:'2022/02/13'},{src:'./images/top/top-blog03.jpg',
        title:'タイトルが入ります。タイトルが入ります。', text:'説明文が入ります。説明文が入ります。説明文が入ります。',
        category:'カテゴリ',date:'2022/02/13'},{src:'./images/top/top-blog03.jpg',
        title:'タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。', text:'説明文が入ります。説明文が入ります。説明文が入ります。',
        category:'カテゴリ',date:'2022/02/13'},{src:'./images/top/top-blog03.jpg', title:'タイトルが入ります。タイトルが入ります。',
        text:'説明文が入ります。説明文が入ります。説明文が入ります。', category:'カテゴリ',date:'2022/02/13'},{src:'./images/top/top-blog03.jpg',
        title:'タイトルが入ります。タイトルが入ります。', text:'説明文が入ります。説明文が入ります。説明文が入ります。',
        category:'カテゴリ',date:'2022/02/13'},{src:'./images/top/top-blog03.jpg', title:'タイトルが入ります。タイトルが入ります。',
        text:'説明文が入ります。説明文が入ります。説明文が入ります。', category:'カテゴリ',date:'2022/02/13'}]%>
        <%- include('../project/_p-cards', {blogLists, column:'3'}) %>
    </div>
  </div>
</div>