<div class="p-top-content">
  <div class="inner">
    <div class="p-top-content__section-title">
      <div class="l-inner">
        <%- include('../component/_c-section-title',{secTitle:'事業内容',secTitleEn:'Content'}) %>
      </div>
    </div>
    <div class="p-top-content__content">
      <a href="./content.html" class="p-top-content__item">
        <div class="p-top-content__img">
          <img src="./images/top/top-content01.jpg" alt="事業内容の画像">
        </div>
        <p class="p-top-content__text">経営理念ページへ</p>
      </a>
      <a href="./content.html#content01" class="p-top-content__item">
        <div class="p-top-content__img">
          <img src="./images/top/top-content02.jpg" alt="事業内容の画像">
        </div>
        <p class="p-top-content__text">理念1へ</p>
      </a>
      <a href="./content.html#content02" class="p-top-content__item">
        <div class="p-top-content__img">
          <img src="./images/top/top-content03.jpg" alt="事業内容の画像">
        </div>
        <p class="p-top-content__text">理念2へ</p>
      </a>
      <a href="./content.html#content03" class="p-top-content__item">
        <div class="p-top-content__img">
          <img src="./images/top/top-content04.jpg" alt="事業内容の画像">
        </div>
        <p class="p-top-content__text">理念3へ</p>
      </a>
    </div>
  </div>
</div>


