<div class="p-top-blog l-inner">
  <div class="top-blog__section-title">
    <%- include('../component/_c-section-title',{secTitle:'ブログ'}) %>
  </div>
  <div class="top-blog__content">
  </div>
  <div class="top-blog__btn">
    <%- include('../component/_c-btn',{text:'詳しく見る', link:'#'}) %>
  </div>
</div>