<div class="p-top-works">
  <div class="p-top-works__section-title">
    <%- include('../component/_c-section-title',{secTitle:'製作実績',secTitleEn:'Works'}) %>
  </div>
  <div class="p-top-works__content">
    <div class="l-inner">
      <div class="p-top-works__slider">
        <%- include('../project/_p-top-slider') %>
      </div>
      <div class="p-top-works__text-box">
        <h3 class="p-top-works__title">メインタイトルが入ります。</h3>
        <p class="p-top-works__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
        <div class="p-top-works__btn">
          <%- include('../component/_c-btn',{text:'詳しく見る', link:'./works.html'}) %>
        </div>
      </div>
    </div>
  </div>
</div>