<div class="p-top-blog l-inner">
  <div class="p-top-blog__section-title">
    <%- include('../component/_c-section-title',{secTitle:'ブログ',secTitleEn:'Blog'}) %>
  </div>
  <div class="p-top-blog__content">
    <% const blogLists=[{src:'./images/top/top-blog01.jpg', title:'CodeUps株式会社',
    text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
    category:'カテゴリ1',date:'2022/02/11'},{src:'./images/top/top-blog02.jpg', title:'CodeUps2株式会社',
    text:'3テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
    category:'カテゴリ3',date:'2022/02/13'},{src:'./images/top/top-blog03.jpg', title:'CodeUps3株式会社',
    text:'3テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
    category:'カテゴリ3',date:'2022/02/13'}]%>
    <%- include('../project/_p-cards', {blogLists, column:'3'}) %>
  </div>
  <div class="p-top-blog__btn">
    <%- include('../component/_c-btn',{text:'詳しく見る', link:'./blog.html'}) %>
  </div>
</div>