<div class="p-top-overview">
  <div class="p-top-overview__section-title">
    <div class="l-inner">
      <%- include('../component/_c-section-title',{secTitle:'企業概要',secTitleEn:'Overview'}) %>
    </div>
  </div>
  <div class="p-top-overview__content">
    <div class="l-inner">
      <div class="p-top-overview__img">
        <img src="./images/top/top-overview01.jpg" alt="">
      </div>
      <div class="p-top-overview__text-box">
        <h3 class="p-top-overview__title">メインタイトルが入ります。</h3>
        <p class="p-top-overview__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
        <div class="p-top-overview__btn">
          <%- include('../component/_c-btn',{text:'詳しく見る', link:'./overview.html'}) %>
        </div>
      </div>
    </div>
  </div>
</div>