<div class="p-top-blog">
  <div class="l-inner">
    <div class="p-top-blog__section-title">
      <%- include('../component/_c-section-title',{secTitle:'ブログ',secTitleEn:'Blog'}) %>
    </div>
    <div class="p-top-blog__content">
      <% const blogLists=[{src:'./images/top/top-blog01.jpg', title:'タイトルが入ります。タイトルが入ります。',
        text:'説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。',
        category:'カテゴリ',date:'2021.07.20'},{src:'./images/top/top-blog02.jpg', title:'タイトルが入ります。タイトルが入ります。',
        text:'説明文が入ります。説明文が入ります。説明文が入ります。', category:'カテゴリ',date:'2021.07.20'},{src:'./images/top/top-blog03.jpg',
        title:'タイトルが入ります。タイトルが入ります。', text:'説明文が入ります。説明文が入ります。説明文が入ります。', category:'カテゴリ',date:'2021.07.20'}]%>
        <%- include('../project/_p-cards', {blogLists, column:'3'}) %>
    </div>
    <div class="p-top-blog__btn">
      <%- include('../component/_c-btn',{text:'詳しく見る', link:'./blog.html'}) %>
    </div>
  </div>

</div>