<div class="p-top-slider">
  <div class="swiper p-top-slider__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="./images/top/top-works01.jpg" alt="製作実績の画像">
      </div>
      <div class="swiper-slide">
        <img src="./images/top/top-works02.jpg" alt="製作実績の画像">
      </div>
      <div class="swiper-slide">
        <img src="./images/top/top-works03.jpg" alt="製作実績の画像">
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>

