<div class="p-top-content">
  <a href="" class="p-top-content__item">
    <div class="p-top-content__img">
      <img src="./images/top/top-content01.jpg" alt="">
    </div>
    <p class="p-top-content__text">経営理念ページへ</p>
  </a>
  <a href="" class="p-top-content__item">
    <div class="p-top-content__img">
      <img src="./images/top/top-content02.jpg" alt="">
    </div>
    <p class="p-top-content__text">理念1へ</p>
  </a>
  <a href="" class="p-top-content__item">
    <div class="p-top-content__img">
      <img src="./images/top/top-content03.jpg" alt="">
    </div>
    <p class="p-top-content__text">理念2へ</p>
  </a>
  <a href="" class="p-top-content__item">
    <div class="p-top-content__img">
      <img src="./images/top/top-content04.jpg" alt="">
    </div>
    <p class="p-top-content__text">理念3へ</p>
  </a>
</div>