<div class="p-top-news-list l-inner">
  <div class="p-top-news-list__content">
    <%- include('../project/_p-news-list') %>
  </div>
  <div class="p-top-news-list__btn">
    <%- include('../component/_c-btn',{text:'すべて見る', link:'./news.html'}) %>
  </div>
</div>