<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

  <body>
    <%- include('./common/_header') %>
    <%- include('./component/_eyecatch') %>


    <%- include('./common/_footer') %>





  </body>

</html>