<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_p-head') %>

  <body>
    <%- include('./common/_p-header') %>
      <%- include('./component/_c-eyecatch') %>


        <%- include('./common/_p-footer') %>





  </body>

</html>