<!DOCTYPE html>
<html lang="ja">
<%- include('./project/_p-head') %>

  <body>
    <header>
      <%- include('./project/_p-header') %>
    </header>
    <main>

      <div class="l-404">
        <%- include('./project/_p-thanks') %>
      </div>
    </main>
    <footer class="l-footer">
      <%- include('./project/_p-footer') %>
    </footer>

  </body>

</html>