<div class="c-breadcrumbs">
    <div class="l-inner">
        <p><a href="index.html" class="c-breadcrumbs__link">トップ</a><span class="c-breadcrumbs__gt">&gt;</span>
            <%= text %>
        </p>
    </div>
</div>