<nav class="c-header-nav">
  <ul class="c-header-nav__list">
    <li class="c-header-nav__item"><a href="" class="c-header-nav__link">お知らせ</a></li>
    <li class="c-header-nav__item"><a href="" class="c-header-nav__link">事業内容</a></li>
    <li class="c-header-nav__item"><a href="" class="c-header-nav__link">制作実績</a></li>
    <li class="c-header-nav__item"><a href="" class="c-header-nav__link">企業概要</a></li>
    <li class="c-header-nav__item"><a href="" class="c-header-nav__link">ブログ</a></li>
    <li class="c-header-nav__item"><a href="" class="c-header-nav__btn">お問い合わせ</a></li>
  </ul>
</nav>