<div class="c-nav">
    <ul class="c-nav__list">
        <li class="c-nav__item"><a href="/.index.html" class="c-nav__link">トップ</a></li>
        <li class="c-nav__item"><a href="./news.html" class="c-nav__link">お知らせ</a></li>
        <li class="c-nav__item"><a href="./content.html" class="c-nav__link">事業内容</a></li>
        <li class="c-nav__item"><a href="./works.html" class="c-nav__link">制作実績</a></li>
        <li class="c-nav__item"><a href="./company.html" class="c-nav__link">企業概要</a></li>
        <li class="c-nav__item"><a href="./blog.html" class="c-nav__link">ブログ</a></li>
        <li class="c-nav__item"><a href="./contact.html" class="c-nav__link">お問い合わせ</a></li>
    </ul>
</div>
