<ul class="c-pagenation02">
  <li class="c-pagenation02__prev"><a href="#">PREV</a></li>
  <li class="c-pagenation02__all"><a href="#">一覧</a></li>
  <li class="c-pagenation02__next"><a href="#">NEXT</a></li>
</ul>