<div class="c-pagenation02">
  <div class="c-pagenation02__prev"><a href="#">PREV</a></div>
  <div class="c-pagenation02__all"><a href="#">一覧</a></div>
  <div class="c-pagenation02__next"><a href="#">NEXT</a></div>
</div>