<ul class="c-pagenation01">
  <li class="c-pagenation01__prev">PREV</li>
  <li class="c-pagenation01__item current">1</li>
  <li class="c-pagenation01__item">2</li>
  <li class="c-pagenation01__item">3</li>
  <li class="c-pagenation01__item">4</li>
  <li class="c-pagenation01__next">NEXT</li>
</ul>