<h1 class="c-single-header">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h1>
<div class="c-single-header__info">
  <span class="c-single-header__date">2020/06/13</span>
  <span class="c-single-header__category">カテゴリ1</span>
</div>
