<h1 class="single-header">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h1>
<div class="single-header__info">
  <span class="single-header__date">2020/06/13</span>
  <span class="single-header__category">カテゴリ1</span>
</div>
