<div class="c-text">
  <div class="c-text__item">
    <h2 class="c-text__title"><%= text %></h2>
    <p class="c-text__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
  </div>
</div>



