<div class="c-table">
  <dl class="c-table__row">
    <dt class="c-table__title">会社名</dt>
    <dd class="c-table__text">テキストが入ります。</dd>
  </dl>
  <dl class="c-table__row">
    <dt class="c-table__title">設立</dt>
    <dd class="c-table__text">テキストが入ります。</dd>
  </dl>
  <dl class="c-table__row">
    <dt class="c-table__title">資本金</dt>
    <dd class="c-table__text">テキストが入ります。</dd>
  </dl>
  <dl class="c-table__row">
    <dt class="c-table__title">売上高</dt>
    <dd class="c-table__text">テキストが入ります。</dd>
  </dl>
  <dl class="c-table__row">
    <dt class="c-table__title">代表者</dt>
    <dd class="c-table__text">テキストが入ります。</dd>
  </dl>
  <dl class="c-table__row">
    <dt class="c-table__title">従業員数</dt>
    <dd class="c-table__text">テキストが入ります。</dd>
  </dl>
  <dl class="c-table__row">
    <dt class="c-table__title">事業内容</dt>
    <dd class="c-table__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</dd>
  </dl>
  <dl class="c-table__row">
    <dt class="c-table__title">所在地</dt>
    <dd class="c-table__text">東京駅</dd>
  </dl>
</div>