<div class="c-text-with-img">
  <div class="c-text-with-img__img">
    <img src="./images/content/content01.jpg" alt="">
  </div>
  <div class="c-text-with-img__text-box">
    <h3 class="c-text-with-img__title"><%= textWithImgTitle %></h3>
    <p class="c-text-with-img__text"><%= textWithImgText %></p>
  </div>
</div>