<div class="p-topcontainer">
    <div class="p-topcontainer__bg"></div>
    <div class="l-inner">
        <div class="p-topcontainer__inner">
            <div class="p-topcontainer__img">
                <img src="<%= src %>" alt="">
            </div>
            <div class="p-topcontainer__contents">
                <h3 class="p-topcontainer__title">
                    <%= title %>
                </h3>
                <p class="p-topcontainer__text">
                    <%= text %>
                </p>
                <div class="p-topcontainer__btn">
                    <%- include('../component/_c-btn',{text:'詳しく見る', link:'#'}) %>
                </div>
            </div>
        </div>
    </div>
</div>